$factor: 87.5%;

$white: scale-color($primary, $lightness: $factor, $saturation: -$factor);
$gray-050: scale-color($primary, $lightness: $factor/5*4.5, $saturation: -$factor);
$gray-100: scale-color($primary, $lightness: $factor/5*4, $saturation: -$factor);
$gray-200: scale-color($primary, $lightness: $factor/5*3, $saturation: -$factor);
$gray-300: scale-color($primary, $lightness: $factor/5*2, $saturation: -$factor);
$gray-400: scale-color($primary, $lightness: $factor/5, $saturation: -$factor);
$gray-500: scale-color($primary, $lightness: 0%, $saturation: -$factor);
$gray-600: scale-color($primary, $lightness: -$factor/5, $saturation: -$factor);
$gray-700: scale-color($primary, $lightness: -$factor/5*2, $saturation: -$factor);
$gray-800: scale-color($primary, $lightness: -$factor/5*3, $saturation: -$factor);
$gray-900: scale-color($primary, $lightness: -$factor/5*4, $saturation: -$factor);
$black: scale-color($primary, $lightness: -$factor, $saturation: -$factor);

$font-size-base: 1.125rem;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Raleway', sans-serif;
$headings-font-family: 'Playfair Display', serif;

@import "bootstrap/scss/bootstrap";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-style: italic;
}
hr {
    @extend .my-5;
}
figure {
    @extend .my-5, .text-center;
    img {
        @extend .img-thumbnail;
    }
}
figcaption {
    @extend small, .pt-3, .text-muted;
}
.wy-nav-bar {
    @extend .navbar, .navbar-dark, .bg-dark, .navbar-expand-sm;
    hr {
        @extend .border-secondary, .my-3;
    }
    .navbar-brand img {
        height: 32.75px;
    }
}
.wy-jumbotron-home {
    @extend .jumbotron, .jumbotron-fluid, .bg-primary, .text-light;
    h1 {
        @extend .display-3;
        img {
            @extend .mw-100;
            height: 4.5rem;
        }
    }
    p {
        @extend .lead;
    }
}
.wy-jumbotron-home, .wy-footer {
    h1, h2, h3, h4, h5, h6, a {
        @extend .text-white;
    }
    a {
        @extend .font-weight-bold;
    }
}
.wy-jumbotron-home, .wy-jumbotron {
    @extend .mb-0;
}
.wy-footer {
    @extend .bg-secondary, .py-5, .text-light, .text-center;
    .wy-logogram {
        height: 32.75px;
    }
}
.wy-jumbotron {
    @extend .jumbotron, .jumbotron-fluid, .bg-light;
    h1 {
        @extend .text-primary;
    }
    p {
        @extend .lead;
    }
}
.wy-toc-nav {
    @extend .navbar, .navbar-light, .d-md-block, .d-lg-none;
    background-color: $gray-050;
    h6 {
        @extend .mb-0;
    }
}
.wy-content, .wy-alert-primary, .wy-alert-secondary, .wy-alert-success, .wy-alert-danger, .wy-alert-warning, .wy-alert-info, .wy-alert-light, .wy-alert-dark {
    :first-child {
        @extend .mt-0;
    }
    :last-child {
        @extend .mb-0;
    }
    h1, h2, h3, h4, h5, h6 {
        @extend .mt-5, .mb-3;
    }
    pre, code {
        @extend .bg-secondary, .text-light;
    }
    pre {
        @extend .p-3;
        code {
            @extend .p-0;
        }
    }
    code {
        @extend .px-1;
    }
    table {
        @extend .table;
    }
}
.wy-alert-primary {
    @extend .alert, .alert-primary, .border-primary;
    a {
        @extend .alert-link;
    }
}
.wy-alert-secondary {
    @extend .alert, .alert-secondary, .border-secondary;
    a {
        @extend .alert-link;
    }
}
.wy-alert-success {
    @extend .alert, .alert-success, .border-success;
    a {
        @extend .alert-link;
    }
}
.wy-alert-danger {
    @extend .alert, .alert-danger, .border-danger;
    a {
        @extend .alert-link;
    }
}
.wy-alert-warning {
    @extend .alert, .alert-warning, .border-warning;
    a {
        @extend .alert-link;
    }
}
.wy-alert-info {
    @extend .alert, .alert-info, .border-info;
    a {
        @extend .alert-link;
    }
}
.wy-alert-light {
    @extend .alert, .alert-light, .border-light;
    a {
        @extend .alert-link;
    }
}
.wy-alert-dark {
    @extend .alert, .alert-dark, .border-dark;
    a {
        @extend .alert-link;
    }
}
.wy-card-link {
    @extend .btn, .float-right, .stretched-link, .mt-3;
}
.wy-status-bar {
    @extend .bg-secondary, .text-light, .py-3;
    div {
        @extend .container;
    }
    a {
        color: inherit;
    }
    a:hover {
        color: $gray-200;
        text-decoration: none;
    }
}
.wy-badge-success {
    @extend .badge, .badge-success, .badge-pill;
}
.wy-badge-warning {
    @extend .badge, .badge-warning, .badge-pill;
}
.wy-badge-featured {
    @extend .badge, .badge-secondary, .position-absolute;
    left: -0.5rem;
    top: 0.5rem;
    z-index: 100;
}
.wy-avatar {
    @extend .rounded-circle, .mr-3;
}
.wy-blockquote {
    @extend .blockquote, .bg-light, .border-left, .border-secondary, .p-3;
}
